// add expand col to grid

.col-expand, .col-sm-expand, .col-md-expand, .col-lg-expand, .col-xl-expand {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-expand {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  min-width: 1px;
  max-width: 100%;
}

@media (min-width: 576px) {

  .col-sm-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .col-md-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {

  .col-lg-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {

  .col-xs-expand {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    min-width: 1px;
    max-width: 100%;
  }
}

img {
  max-width: 100%;
}

a {
  color: @color-accent;

  &:hover {
    color: darken(@color-accent, 10%);
  }
}

.text-primary {
  color: @color-accent !important;
}

.bg-primary {
  background-color: @color-accent !important;
}

.bg-black {
  background-color: #000;
}

.section {
  padding: 60px 0;
}

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 30px;
  font-weight: 700;
  color: @color-accent;
  text-transform: uppercase;
  text-decoration: none;
}

.slick-slider {

  img {
    width: 100%;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 50%;
  box-sizing: border-box;
}

.slick-slider:not(.slick-initialized) {
  display: none;
}

.slick-prev:before, .slick-next:before {
  color: @color-dark;
}

// Table responsive

@media (max-width: 575px) {
  .tm-table-responsive {
    display: block;

    tbody, th, td, tr {
      display: block;
    }

    thead {
      display: none;
    }

    tr + tr {
      margin-top: 10px;
    }
  }
}

.bg-tyres {
  position: relative;
  background: url("../../images/bg-tyres.jpg") no-repeat center;
  background-attachment: fixed;
  background-size: cover;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.vote {
  display: flex;
/*  flex-direction: row-reverse;*/

  i + i {
    margin-right: 4px;
  }

  /*.fa-star-o:hover {

    &::before {
      content: "\f005";
    }

    ~ i::before {
      content: "\f005";
    }
  }*/
}

.breadcrumb {
  padding: .75rem 0;
  background-color: transparent;
}

.js-toggle-nav {
  position: relative;
  overflow: hidden;

  > li {
    display: none;
    width: 100%;

    &.active {
      display: block;
    }
  }
}

.btn-show-more {
  font-weight: 700;
  color: @color-accent;
  cursor: pointer;

  &:hover {
    color: darken(@color-accent, 10%);
  }

  .hide-more {
    display: none;
  }

  &.active {

    .show-more {
      display: none;
    }

    .hide-more {
      display: block;
    }
  }
}

.submenu {
  padding: 0;
  list-style: none;

  li {

    a {
      display: block;
      position: relative;
      padding: 8px 0 8px 20px;
      color: @color-dark;

      &::before {
        content: "\f054";
        display: block;
        position: absolute;
        top: 8px;
        left: 0;
        line-height: inherit;
        font-family: FontAwesome;
        color: @color-accent;
      }

      &:hover {
        color: @color-accent;
      }

      &.active {
        font-weight: 700;

        &:hover {
          color: @color-dark;
        }
      }
    }
  }
}

.card_accent {
  border-color: @color-accent;
}

