.header {

  .main-menu {
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {

  .header {

    .navbar-text {
      width: 100%;
      text-align: center;
    }
    .navbar-brand {
      width: 150px;
    }
  }
}