//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Typography
//

//
// Colors
//

@color-primary: #007bff;
@color-accent: #dc3545;
@color-dark: #343a40;

//
// Backgrounds
//

//
// Borders
//

//
// Spacings
//

//
// Controls
//

//
// Z-index
//